.height-log {
  height: 100vh;
}

.height-full {
  height: 100%;
}

.logo_text {
  color: #61dafb;
  font-size: 44px;
  font-weight: bold;
}

.logo_text_span {
  color: #f5f5f5;
  font-size: 40px;
}
.errormessage {
  font-size: 14px;
  font-weight: 400;
  color: red;
  padding: 0;
  margin: 0;
}

@media (max-width: 1100px) {
  .responsive-login {
    display: none !important;
  }
  .responsive-log {
    width: 100% !important;
  }

  .errormessage {
    font-size: 14px;
    font-weight: 400;
    color: red;
    padding: 0;
    margin: 0;
    width: 90%;
    text-align: left;
  }
}
