@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
.box-size {
  width: 400px;
  min-height: 600px;
}
.paragraph {
  font-size: 0.8rem;
}

.fst-montserrat {
  font-family: "Montserrat", sans-serif;
}
